.posts {
  margin: 0;
}

.post {
  margin: 1.5rem 0;

  a {
    background: #00ff87;
    color: #16161a;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }

  a:hover {
    background: #02894e;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    font-size: 0.9rem;
    font-style: italic;
    color: #16161a;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}