.header {
  background: #7f5af0;
  padding: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  border-radius: 0.5em;

  li {
    margin-bottom: 0;
  }
}

.title {
  color: #fffffe;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 1.2rem;
}

.nav-link {
  margin-right: 1.3rem;
  color: #fff;
  text-decoration: none;
}

.nav-link:hover,
.active-nav-link {
  color: #37003c;
}